.auth .col {
  flex-basis: 50%;
  min-width: 300px;
}

.auth-box {
  background: var(--color-3);
  max-width: 350px;
  text-align: center;
  padding: 0 20px;
  margin: 10px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-3);
  border-radius: 10px;
}

.auth-box form {
  width: 100%;
}

.auth-box input,
.auth-box .button {
  width: 100%;
}

.auth-box .button {
  margin-top: 10px;
}

.auth-box .button-label {
  padding: 20px 0;
}

@media (max-width: 800px) {
  .auth .row {
    flex-direction: column;
  }

  .auth .col:first-child {
    display: none;
  }

  .auth .col {
    flex-basis: 100%;
    padding-top: 25px;
  }
}